.create-party-container {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .form-group {
    text-align: left;
    margin-left: auto;
    width: 90%;
    margin-right: auto;
}
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 90%;
    margin-bottom: 10px;
    height: 3em;
}
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
.create-party-container a{
  margin-top: 10px;
}