.join-party-container {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  h2 {
    font-size: 20px;
    margin: 20px 0 10px;
  }

  h4{
    margin: 0px;
  }

  .join-content{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
  }
  
  .join-party-container .form-group {
    margin-top: 10px;
  }
  
  .join-party-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
  }
  
  .join-party-container input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    text-align: left;
  }
  
  .join-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 3em;
    width: 95%;
    margin-top: 10px;
}
  
  .join-button:hover {
    background-color: #0056b3;
  }
  
  .my-parties {
    margin-top: 20px;
  }

  .my-parties li {
    width: 45%;
    margin-left: 5px;
    margin-right: 5px;
}

.my-parties button{
  height: 2em;
  font-size: 16px;
}


  
  